html {
    font-size: 16px;
    background-color: #ffffff;
}

body {
    font-size: calc(1 * 1rem);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    width: calc(100% - 2rem);
    height: 6rem;
    border-bottom: 0.2rem solid #51176a;
    margin: 0 auto;
    text-align: center;
    line-height: 6rem; /* Vertically center inline elements */
    white-space: nowrap; /* Prevent wrapping of header content */
}

.header-line {
    display: inline-block;
    height: 0.4rem;
    background: #51176a;
    border-radius: 0.2rem;
    min-width: 2.5rem;
    width: calc(50% - 9.375rem); /* Adjusted for the header image width */
    vertical-align: middle; /* Align with the image */
}

.header-image {
    max-height: 100%;
    max-width: 18.75rem;
    object-fit: contain;
    border-radius: 0.5rem;
    display: inline-block;
    vertical-align: middle; /* Align with the header lines */
}

.text-content {
    max-width: calc(100% - 2rem);
    margin: 2rem auto;
    padding: 1rem;
    font-size: calc(1 * 1rem);
    line-height: calc(1.5 * 1rem);
}

h2 {
    font-size: calc(2 * 1rem);
    color: rgb(56, 14, 120);
    margin-bottom: 1rem;
}

h3 {
    font-size: calc(1.5 * 1rem);
    color: rgb(56, 14, 120);
    margin-bottom: 0.5rem;
}

.menu-rows {
    margin: 0 auto;
    width: calc(100% - 2rem);
}

.menu-column {
    float: left;
    width: calc(33.33% - 1rem); /* Three columns by default */
    margin: 0.5rem;
}

.menu-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 0.1rem solid rgb(96, 24, 126);
}

.menu-item h4 {
    font-size: calc(1.2 * 1rem);
    margin: 0;
	color:#51176a
}

.menu-item p {
    font-size: calc(1 * 1rem);
    margin: 0.5rem 0 0 0;
    color: #51176a80;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    color: rgb(56, 14, 120);
    font-size: calc(1 * 1rem);
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    text-align: center;
}

.page-footer img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .menu-column {
        width: calc(50% - 1rem); /* Two columns for medium screens */
    }
}

@media (max-width: 600px) {
    .menu-column {
        width: calc(100% - 1rem); /* One column for small screens */
    }
}