html {
    font-size: 16px; /* Base font size */
    background-color: #ffffff;
}

body {
    font-size: calc(1 * 1rem); /* Default body font size */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    width: calc(100% - 2rem);
    height: 6rem;
    border-bottom: 0.2rem solid #51176a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.header-line {
    flex: 1;
    height: 0.4rem;
    background: #51176a;
    border-radius: 0.2rem;
    min-width: 2.5rem;
}

.header-image {
    max-height: 100%;
    max-width: 18.75rem;
    object-fit: contain;
    border-radius: 0.5rem;
    margin: 0 1rem;
}

.text-content {
    max-width: calc(100% - 2rem);
    margin: 2rem auto;
    padding: 1rem;
    font-size: calc(1 * 1rem); /* Default text content font size */
    line-height: calc(1.5 * 1rem);
}

h2 {
    font-size: calc(2 * 1rem); /* Larger font size for main headings */
    color: rgb(56, 14, 120);
    margin-bottom: 1rem;
}

h3 {
    font-size: calc(1.5 * 1rem); /* Slightly smaller than h2 */
    color: rgb(56, 14, 120);
    margin-bottom: 0.5rem;
}

.menu-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 0.1rem solid rgba(81, 23, 106, 0.12);
}

.menu-item h4 {
    font-size: calc(1.2 * 1rem); /* Slightly smaller than h3 */
    margin: 0;
}

.menu-item p {
    font-size: calc(1 * 1rem); /* Same as body font size */
    margin: 0.5rem 0 0 0;
    color: #51176a;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    color: rgb(56, 14, 120);
    font-size: calc(1 * 1rem); /* Same as body font size */
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.page-footer img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 600px) {
    .text-content {
        max-width: calc(100% - 1rem);
        padding: 0.5rem;
    }

    h2 {
        font-size: calc(1.5 * 1rem); /* Adjusted for smaller screens */
    }

    h3 {
        font-size: calc(1.2 * 1rem);
    }

    .menu-item h4 {
        font-size: calc(1 * 1rem);
    }

    .menu-item p {
        font-size: calc(0.9 * 1rem);
    }
}