
.heading{
    background-color: #567ec0;;
    color: white;
    font-size:36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 900px;
    height: auto;
}

.box1{
    background-color:#567ec0;
    color:white;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left:auto;
    width:250px;
    height:40px;
    align-content: center;


    
}
.box1 a{
    color:white;
}

.container{
    display: grid;
}

.box2{
    background-color: #567ec0;;
    color:white;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:80px;
    width:250px;
}
.box2 a{
    color:#ffffff;
}

.images{
width: 10px;
height:auto;
}
