body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d4e1f6; /* sky blue background */
  color: #333;
}

header {
  background-color: #567ec0; /* stronger sky blue */
  color: white;
  padding: 1rem;
  text-align: center;
}

.header-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header-img {
  width: 420px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .header-row {
    flex-direction: column;
  }

  .header-img {
    width: 80px;
  }
}

main {
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #567ec0;
}

.text-color {
    color:#567ec0
}