html{
  font-size: 6px;
  line-height: 1.3;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d4e1f6; 
  color: #6393b3;
  font-size:0;
}

header {
  background-color: #567ec0; 
  color: white;
  text-align: center;
  padding: calc(2rem * 1.3);
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header-img {
  width: 420px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px; /* Increased gap between boxes */
  margin: 40px auto;
  max-width: 900px;
}

.box {
  background: #f9f9f9;
  border: 2px solid #465f80;
  border-radius: 16px;
  padding: 32px 40px; /* Increased internal padding */
  text-align: center;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(134, 156, 201, 0.08);
  font-family: sans-serif;
  font-size: 1rem;
}

pre{
  font-size: 2rem;
}

main {
  padding-left:calc(2rem * 1.3);
  margin-top:calc(2rem * 1.3);
}

ul{font-size: 4rem;
color: #567ec0; /* Change to blue color */
margin:0;
}

.box a {
  color: #567ec0; /* Change to blue color */
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 4rem;
}

.box a:hover {
  color: #005fa3; /* for color on hover */
  text-decoration:wavy;
}

h2{
  display: block;
  margin-bottom: calc(2rem * 1.3);
  margin-top:0;
  font-size: 4rem; /* Match with .box a font size */
  color: #567ec0;  /* Match link color */
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #567ec0;
}

.text-color {
    color:#567ec0
}

h1 {
  font-size: 4rem; /* Increase this value for even larger text */
  font-weight: bold;
  margin: 0 0 2rem 0;
  color: white;
}

.cloud {
  position: absolute;
  filter: blur(1px);
  opacity: 0.7;
  width: 90px;
  z-index: 0;
  pointer-events: none;
}

.cloud.small {
  width: 50px;
  filter: blur(1px);
  opacity: 0.5;
}

.cloud.large {
  width: 140px;
  filter: blur(1px);
  opacity: 0.8;
}

.body-clouds {
  position: relative;
  width: 100%;
  height: 0;
}

@media (max-width: 900px) {
  .header-row {
    flex-direction: column;
  }

  .header-img {
    width: 80px;
  }
}
