#button{
    margin-top:10px;
    display: inline-block;
    background: #323232;
    color: #fff;
    padding: 10px 20px;
    font-family: "Sdfortimburtondemo" , system-ui, sans-serif;
    font-size: 5rem;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
}
img {
    width:1970px;
    height:auto;
    display:inline-block;
    margin-left:0px;
    margin-bottom:1px;
}
#text-box{
    margin-top:1px;
    margin-bottom:40px;
    padding:15px;
    font-size:4rem;
    max-width:1970px;
    height:auto;
    outline: black solid 2px;
}
#NamePlate {
    margin-top:100px;
    margin-bottom:1px;
    font-size: 6rem;
    font-family: "Sdfortimburtondemo" , system-ui, sans-serif;
}

@font-face {
    font-family: "Sdfortimburtondemo";
    src: url("fonts/Sdfortimburtondemo-ALoW2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}