#image {
    max-width: 2300px;
    margin: 0;
}

#image img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.choose-btn {
    margin-top: 100px;
    display: inline-block;
    background: #323232;
    color: #fff;
    padding: 10px 20px;
    font-size: 8rem;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
}

.text-box {
    padding: 10px;
    width: 90%; 
    font-size: clamp(2rem, 5vw, 6rem); 
    outline: black solid 2px;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.NamePlate {
    font-size: 10rem;
}
