
.choose-btn {
    margin-top: -500;
    display: inline-block;
    background: #323232;
    color: #fff;
    padding: 10px 20px;
    font-family: "Sdfortimburtondemo" , system-ui, sans-serif;
    font-size: 8rem;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    margin-left: 25%;
}
.choose-btn:hover {
   
}
.char-frame img {
    width: 600px;
    height: auto;
    display: inline-block;
}

.inside-box {
    display: grid;
    grid-template-columns: 600px 2fr 1020px; 
    gap: 48px;
    align-items: start;
}

.full-body img {
    width: 100%;
    height: auto;
    display: block;
}

.full-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 24px;
}

.trudy-title {
    font-size: 9rem;
    width: 100%;
    margin: 0;
    text-align: left;
}

.trudy-body {
    font-size: 3rem;
    color: #333;
    width: 100%;
    margin: 0;
    text-align: left;
}

.stats {
    margin-top:100px;
    font-size: 3rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.choose-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 0;
}
@font-face {
    font-family: "Sdfortimburtondemo";
 font-family: "Sdfortimburtondemo";

    src: url("fonts/Sdfortimburtondemo-ALoW2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

