
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Georgia', serif;
  background-color: #f7f5f0;
  color: #222;
  line-height: 1.6;
  font-size: calc(1rem * 1);
}

header {
  text-align: center;
  padding: calc(1rem * 3.125) calc(1rem * 1.25) calc(1rem * 1.875) calc(1rem * 1.25);
}

header h1 {
  font-size: calc(1rem * 3);
  font-weight: bold;
  letter-spacing: calc(1rem * 0.125);
}

header .subtitle {
  font-size: calc(1rem * 1.3);
  color: #555;
  margin-top: calc(1rem * 0.625);
  font-style: italic;
}

.timeline {
  position: relative;
  max-width: calc(1rem * 50);
  margin: 0 auto;
  padding: calc(1rem * 1.25) 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: calc(1rem * 0.25);
  height: 100%;
  background: #c5c3c0;
}

.timeline-item {
  position: relative;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: calc(1rem * 1.25) calc(1rem * 2.5);
  margin: calc(1rem * 1.25) 0;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-item h2 {
  font-size: calc(1rem * 2);
  margin-bottom: calc(1rem * 0.625);
}

.timeline-item .event {
  font-size: calc(1rem * 1);
  color: #999;
  font-weight: normal;
}

.timeline-item .description {
  font-size: calc(1rem * 1);
  color: #444;
}

.subcategories {
  margin-top: calc(1rem * 0.625);
  padding-left: calc(1rem * 0.9375);
}

.sub-item h3 {
  font-size: calc(1rem * 1.2);
  margin-top: calc(1rem * 0.3125);
}

.sub-item p {
  font-size: calc(1rem * 0.95);
  color: #555;
}

.photo {
  width: calc(1rem * 7.5);
  flex-shrink: 0;
  margin-left: calc(1rem * 1.25);
}

.timeline-item:nth-child(odd) .photo {
  margin-left: 0;
  margin-right: calc(1rem * 1.25);
}

.photo img {
  width: 100%;
  border: calc(1rem * 0.25) solid #fff;
  box-shadow: 0 calc(1rem * 0.25) calc(1rem * 0.625) rgba(0, 0, 0, 0.2);
  border-radius: calc(1rem * 0.3125);
  object-fit: cover;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: calc(1rem * 1);
  height: calc(1rem * 1);
  background: #ff7f50;
  border-radius: 50%;
  top: calc(1rem * 1.875);
}

.timeline-item:nth-child(odd)::before {
  right: calc(1rem * -0.5);
}

.timeline-item:nth-child(even)::before {
  left: calc(1rem * -0.5);
}

.timeline-item h2 .year-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.timeline-item h2 .year-link:hover {
  text-decoration: underline;
}

.sub-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.sub-link:hover {
  text-decoration: underline;
}

.timeline-item h2[role="button"] {
  cursor: pointer;
  outline: none;
}

.timeline-item h2[role="button"]:focus {
  box-shadow: 0 0 0 3px rgba(0, 120, 215, 0.25);
  border-radius: 4px;
}

.toggle-sub {
  display: inline-block;
  margin-left: calc(1rem * 0.5);
  vertical-align: middle;
  background: transparent;
  border: none;
  font-size: calc(1rem * 1.1);
  cursor: pointer;
  padding: calc(1rem * 0.25) calc(1rem * 0.375);
  line-height: 1;
  border-radius: 4px;
}

.toggle-sub:focus {
  box-shadow: 0 0 0 3px rgba(0, 120, 215, 0.25);
}

.toggle-sub[aria-expanded="true"] {
  transform: rotate(90deg);
}